.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* --- Meu CSS --- */

* {
  font-family: Roboto , Epilogue , sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(45deg, rgba(226, 223, 223, 0.87) 0%, rgba(4, 200, 148, 9) 100%);
  background-color: transparent;
  height: 100vh;
  width: 100vw;
}

/* select {} */

/* .header {
  display: flex;
  flex-direction: row;
} */

.login-form {
  display: flex;
  flex-direction: column;
}

.wallet-form {
  display: flex;
  flex-direction: row;
}

.login-input {
  font-size: 1.2rem;
  height: 25px;
  margin-bottom: 7px;
  padding: 0.3rem 0.75rem;
  width: 350px;
}

button {
  background-color: rgb(162, 177, 177);
  border-radius: 10px;
  font-size: 0.9rem;
  font-weight: 500;
  margin: 4px;
  width: 15vw;
}

button:hover {
  box-shadow: var(--shadow-2);
  filter: brightness(110%);
  transform: scale(1.1);
}

button:active {
  box-shadow: var(--shadow-3);
}

button:disabled {
  color: black;
  cursor: wait;
  opacity: 0.5;
}
